/* Arquivo de CSS */

body  {
  background-color: black;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

section {
  width: 95%;
  margin: auto;
}

header {
  width: 100%;
  background-color: #FFD700;
  height: 200px;
}

nav {
  width: 100%;
  background-color: #ffff00;
  height: 50px;
}

aside {
  width: 30%;
  background-color: #F0E68C;
  height: 450px;
  float: left;
}

article{
  width: 70%;
  background-color: white;
  height: 450px;
  float: right;
}

footer {
  width: 100%;
  background-color: #ffff00;
  height: 50px;
  clear: both;
}