@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: darkorange;
}
ul{
    list-style: none;
}

#topo{
    width: 100%;
    background-color: white;
    float: left;
}
#topo a{
    color: white;
    font-size: 0.8em;
}

#logo{
    width: 60px;
    height: 60px;
    background-image: url(../img/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    float: left;
    
}
#btn_menu{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    background-color: darkorange;
    border-radius: 10px;
}
#menu{
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: fixed;
    background-color: rgba(255,140,0,0.9);
    transition: 1s;
}

#menu:target{
    height: 100%
}

#btn_fechar{
    float: right;
    margin-top: 24px;
    margin-right: 25px;
    border-radius: 0px;
}

#menu ul{
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
}
#menu ul li{
    padding: 3%;
    transition: 0.2s;
    font-size: 1.1em;
}
#menu ul li:hover{
    background-color: rgba(255,255,255,0.3);
    
}
#banner{
    float: left;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 0.9em;
    color: white;
    margin-top: 5px;
    text-shadow: 0.5px 0px 1px #000;
}

#banner h2,h3{
    padding: 2%;
}
#banner button{
    width: 45%;
    height: 30px;
    border-radius: 7px;
    font-size: 0.8em;
    color: darkorange;
    text-align: left;
    padding-left: 3%;
    margin-bottom: 5px;
}

#banner button i{
    float: right;
    margin-right: 5%;
}

#corpo{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

#conteudo1,#conteudo2,#conteudo3{
    width: 100%;
    background-color: white;
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 3%;
    border-radius: 7px;
}

#corpo img{
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
#corpo section p{
    padding: 5%;
}

#corpo section h4{
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
#inscrevase{
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    font-size: 0.7em;
    text-shadow: 0.5px 0px 1px #000;
}

#inscrevase input,button{
    width: 98%;
    height: 40px;
    border-radius: 7px;
    margin: 1%;
    color: darkorange;
}

#inscrevase input::placeholder{
    color: chocolate;
    font-size: 0.9em;
    padding: 10px;
}


#inscrevase button{
    background-color: darkorange;
    color: white;
    font-size: 1.2em;
    box-shadow: 0px 0px 3px #fff;
    margin-top: 5px;
}

#rodape{
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background-color: chocolate;
    color: white;
    font-size: 0.8em;
    text-shadow: 0.5px 0px 1px #000;
    margin-top: 10px;
}

#redes_sociais a{
    color: rgba(255,255,255,0.7);
    font-size: 1.4em;
    text-shadow: none;
    margin-right: 3%;
}

#redes_sociais a:hover{
    color: rgba(255,255,255,1);
}

#rodape p{
    margin-top: 10px;
}


@media screen and (min-width:480px){
    #banner{
        font-size: 1.2em;
    } 
    #banner button{
        font-size: 1em; 
    }
    
    #conteudo1,#conteudo2,#conteudo3{
        font-size: 1em;
    }
    #inscrevase,#rodape{
        font-size:  1.2em;
    }
    
    #inscrevase input::placeholder{
        font-size: 1.2em;
    }
    
    #inscrevase button{
        font-size: 1.2em;
    } 
    #redes_sociais a i{
        font-size: 1.5em;
    }

}

@media screen and (min-width:780px){
    #logo{
        width: 200px;
        height: 100px;
        background-image: url(../img/logo4.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        float: left;
        margin-left: 100px;
    }
    #btn_menu{
        margin-top: 23px;
    }
}

@media screen and (min-width:1024px){
    body{
        background-color: crimson;
    }
}










