@charset 'utf-8';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: darkorange;
}

ul {
  list-style: none;
}

#topo{
  width: 100%;
  background-color: white;
  float: left;
}

#topo a{
  color: white;
  font-size: 0.8em;
}